* {
  box-sizing: border-box;
}

.parent {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff20;
  backdrop-filter: blur(100%);
}

.child h1 {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffff20;
  backdrop-filter: blur(100%);
}

.btn-complete {
  width: 100px;
}

.btn-primary {
  background-color: #ada7ff;
  border-color: #928dd6;
}

.btn-primary:active {
  background-color: #928dd6;
}

textarea {
  color: #333;
  resize: none;
}

@media (max-width: 768px) {
  .parent .child {
    width: 98% !important;
  }
}

@media (max-width: 577px) {

  .btn-complete,
  .length-do,
  ::placeholder {
    font-size: 13px;
  }

  .list-text-area {
    width: 100% !important;
  }
}